src/main/resources/META-INF/jigsaw.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:beans="http://www.springframework.org/schema/beans"
        targetNamespace="http://www.guanjian.com/schema/jigsaw"
        elementFormDefault="qualified">

    <xsd:import namespace="http://www.springframework.org/schema/beans"/>

    <!--&lt;!&ndash; layout &ndash;&gt;-->
    <!--<xsd:element name="layout">-->
    <!--<xsd:complexType>-->
    <!--<xsd:complexContent>-->
    <!--<xsd:extension base="beans:identifiedType">-->
    <!--<xsd:sequence>-->
    <!--<xsd:element ref="panel" />-->
    <!--<xsd:element ref="layer" maxOccurs="unbounded"/>-->
    <!--</xsd:sequence>-->
    <!--</xsd:extension>-->
    <!--</xsd:complexContent>-->
    <!--</xsd:complexType>-->
    <!--</xsd:element>-->

    <!-- panel -->
    <xsd:element name="panel">
        <xsd:annotation>
            <xsd:documentation><![CDATA[画板]]></xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="beans:identifiedType">
                    <xsd:attribute name="height" type="xsd:int" use="required">
                        <xsd:annotation>
                            <xsd:documentation><![CDATA[高度]]></xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="width" type="xsd:int" use="required">
                        <xsd:annotation>
                            <xsd:documentation><![CDATA[宽度]]></xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <!-- layer -->
    <xsd:element name="layer">
        <xsd:annotation>
            <xsd:documentation><![CDATA[图层]]></xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="beans:identifiedType">
                    <xsd:attribute name="materialRef" type="xsd:string" use="required"></xsd:attribute>
                    <xsd:attribute name="specsRef" type="xsd:string" use="required"></xsd:attribute>
                    <xsd:attribute name="index" type="xsd:int" use="required"></xsd:attribute>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <!-- specs：element -->
    <xsd:element name="element">
        <xsd:annotation>
            <xsd:documentation><![CDATA[元素]]></xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="beans:identifiedType">
                    <xsd:attribute name="height" type="xsd:int" use="required">
                        <xsd:annotation>
                            <xsd:documentation><![CDATA[高度]]></xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="width" type="xsd:int" use="required">
                        <xsd:annotation>
                            <xsd:documentation><![CDATA[宽度]]></xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="coordinateX" type="xsd:int" use="required">
                        <xsd:annotation>
                            <xsd:documentation><![CDATA[x坐标轴位]]></xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="coordinateY" type="xsd:int" use="required">
                        <xsd:annotation>
                            <xsd:documentation><![CDATA[y坐标轴位]]></xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <!-- material：photo -->
    <xsd:element name="photo">
        <xsd:annotation>
            <xsd:documentation><![CDATA[图像]]></xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="beans:identifiedType">
                    <xsd:attribute name="path" type="xsd:string" use="required">
                        <xsd:annotation>
                            <xsd:documentation><![CDATA[图片路径]]></xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <!-- material：text -->
    <xsd:element name="text">
        <xsd:annotation>
            <xsd:documentation><![CDATA[文本]]></xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="beans:identifiedType">
                    <xsd:attribute name="rgbColor" type="xsd:string" default="0,0,0">
                        <xsd:annotation>
                            <xsd:documentation><![CDATA[文本颜色]]></xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="fontText" type="xsd:string" use="required">
                        <xsd:annotation>
                            <xsd:documentation><![CDATA[文本内容]]></xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="fontSize" type="xsd:string" default="16">
                        <xsd:annotation>
                            <xsd:documentation><![CDATA[字体大小]]></xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="fontFormat" type="xsd:string" default="宋体">
                        <xsd:annotation>
                            <xsd:documentation><![CDATA[字体样式]]></xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

</xsd:schema>